.App {
  height: 100vh;
  display: block;
  .sidebar {
    width: 30%;
    display: inline-block;
    background-color: red;
  }
  .content {
    /*width: 70%;*/
    /*display: inline-block;*/
    background-color: blue;
  }
}
